<h1>Request a new Sample</h1>

<%=form_for @sample do |sample_builder|%>
  <p>
  <strong><%=sample_builder.label :sample_type%></strong>
  <%=sample_builder.select :sample_type, Sample.sample_types.keys%>
  </p>

  <p>
  <strong><%=sample_builder.label :comment%></strong>
  <%=sample_builder.text_area :comment, size: '50x10'%>
  </p>

  <%=sample_builder.hidden_field :product_id%>
   
  <%=sample_builder.fields_for :status do |status_builder|%>
    <%=status_builder.hidden_field :current_status, :value => 0%>
    <%=status_builder.hidden_field :owner_id, :value => @product.manufacture_partner.id%>
    <p><%=status_builder.date_field :deadline%></p>
  <%end%>

 

  <%=sample_builder.submit "Sent Sample Request"%>
<%end%>

