      <h1>Current Sample</h1>
   
    
      <p><strong>Sample Type:</strong> <%=@sample.sample_type%></p>
      <p><strong>Sample Status:</strong> <%=@sample.sample_current_status.current_state%></p>
      <%if @sample.sample_current_status.owner_id%>
      <p><strong>Responsible Party:</strong> <%=link_to User.find_by(id: @sample.sample_current_status.owner_id).name, User.find_by(id: @sample.sample_current_status.owner_id)%></p>
      <%end%>
      
      <p><strong>Last Update:</strong> <%=@sample.sample_current_status.updated_at%></p>
      <p><strong>Comment:</strong><%=@sample.comment%></p>
    
    <%if @sample.sample_current_status.PENDING_SAMPLE_FROM_MANUFACTURE_PARTNER? %>
      <%=form_for @sample.statuses.build do |f|%>
      <%=f.hidden_field :current_state, :value => "PENDING_SAMPLE_REVIEW_FROM_DESIGN_PARTNER"%>
      <%=f.hidden_field :sample_id%>
      <%=f.hidden_field :owner_id, :value => @sample.product.design_partner.id%>
      <%=f.submit "SMPL RECEIVED"%> 
    <%end%>


    <%elsif @sample.sample_current_status.PENDING_SAMPLE_REVIEW_FROM_DESIGN_PARTNER?%>
      <%=form_for @sample.statuses.build do |f|%>
      <p><strong>Sample Status: </strong><%=f.select :current_state, Status.current_states.keys.slice(2,4)%></p>
      <%=f.hidden_field :sample_id%>
      <%=f.submit "UPDATE SAMPLE STATUS"%>
      <%end%>

    <%elsif @sample.product.require_new_sample?%>
      <%=link_to 'REQUEST A NEW SAMPLE', new_product_sample_path(@sample.product)%>  
    <%end%>