<div class="table-responsive">

<table class="table table-striped table-sm">
 
      <tr>
          <p><strong>NAME:</strong>
          <%=@user.name%></p>
      </tr>
      <tr>
          <p><strong>ROLE:</strong>
          <%=@user.role%></p>
      </tr>
      <tr>
          <p><strong>PHONE:</strong>
          <%=@user.phone%></p>
      </tr>
      <tr>
          <p><strong>EMAIL:</strong>
          <%=@user.email%></p>
      </tr>
      <tr>
          <p><strong>COMPANY:</strong>
          <%=@user.company.name%></p>
      </tr>

      <tr>
          <p><strong>SOURCES:</strong></p>
          <%@user.factories.uniq.each do |f|%>
            <%=link_to f.name, f%><br>
          <%end%>
      </tr>

</table>
  <%=link_to 'EDIT PROFILE', edit_user_path(@user)%>
</div>
