<tr>
    <td><%=product.product_status%></td>
    <td><%=product.season%></td>
    <td><%=link_to product.style_number, product%></td>
    <td><%=set_current_sample product %></td>
    <td><%=set_product_current_state product%></td>   
    <td><%=display_product_next_action(product)%></td>
</tr>