<h1><%=@product.season%> <%=@product.style_number%></h1>
<span><%=link_to 'EDIT PRODUCT', edit_product_path(@product)%></span>
<span><%=link_to "DELETE PRODUCT", @product, method: "delete", data: { confirm: "Are you sure?" } %><span>
  </p><strong>Image</strong>

  </p><%= image_tag @product.image_url, :class=>"product_image"%>

  </p><strong>Product Description</strong>
  <%=@product.description%></p>

  </p><strong>Create at:</strong>
  <%=@product.created_at%> By <%=link_to @user.role, @user%></p>

  </p><strong>Last Updated at:</strong>
  <%=@product.updated_at%></p>

  </p><strong>Deadline</strong>
  <%=@product.deadline%></p>


  </p><strong>Status:</strong>
  <%=@product.product_status%></p>

  </p><strong>Factory:</strong>
  <%=link_to @product.factory.name, @product.factory%></p>
  
  </p><strong>Design Partner:</strong>
   <%=render '/users/user_email', :user => @product.design_partner%></p>

  </p><strong>Manufacture Partner:</strong>
  <%=render '/users/user_email', :user => @product.manufacture_partner%></p>

  </p><strong>Production Partner:</strong>
  <%=render '/users/user_email', :user => @user%></p>
  
  <%if @product.samples.empty?%>
    <%=link_to "REQUEST A NEW SAMPLE", new_product_sample_path(@product.id) %>
  <%else%>
    <br>
    <hr>
    <br>
    <h2>PRODUCT HISTORY</h2>
    <%=render :collection => @samples, :partial => 'product_sample', :as => :sample%>
  <%end%>